%p.text.big_letter
  <%= introduction %>
.left
  <%= not_only %>
  <%= working_software %>
.right
  <%= but_also %>
  %span.value
    <%= well_crafted_software %>
.left
  <%= not_only %>
  <%= responding_to_change %>
.right
  <%= but_also %>
  %span.value
    <%= steadily_adding_value %>
.left
  <%= not_only %>
  <%= individuals_and_interactions %>
.right
  <%= but_also %>
  %span.value
    <%= a_community_of_professionals %>
.left
  <%= not_only %>
  <%= customer_collaboration %>
.right
  <%= but_also %>
  %span.value
    <%= productive_partnerships %>
%p.text
  <%= conclusion %>
%p.notice
  <%= copyright %>
  %br
  <%= this_statement_may_be_freely_copied_in_any_form %>
  %br
  <%= but_only_in_its_entirety_through_this_notice %>
%p.text_center
  %a#sign{:href => "#"}
    <%= sign_the_manifesto %>
%p.text_center
  %a{:href => "http://maps.google.com/maps?hl=en&q=http://manifesto.softwarecraftsmanship.org/map&z=2"}
    <%= view_map %>
%p.text_center
  %a#reading{:href => "#"}
    <%= further_reading %>
