%form#signature-form
  %table.form_fields
    %tr
      %td#signature-form-errors.errors{:colspan => "2"}
    %tr
      %td
        <%= name %>
      %td
        .input_container.input-image
          %input#signatory_name.large_round{:name => "signatory[name]", :size => "30", :type => "text"}
    %tr
      %td
        <%= email %>
      %td
        .input_container.input-image
          %input#signatory_email.large_round{:name => "signatory[email]", :size => "30", :type => "text"}
    %tr
      %td
        <%= location %>
      %td
        .input_container.input-image
          %input#signatory_location.large_round{:name => "signatory[location]", :size => "30", :type => "text"}
    %tr
      %td
      %td{:align => "right"}
        .button.button-image#sign-button
          .button-text
            <%= sign %>