.button-image { background:url(../images/application.png) 0 0px; }
.button_hover-image { background:url(../images/application.png) 0 -27px; }
.content_tile-image { background:url(../images/application.png) 0 -54px; }
.content_top-image { background:url(../images/application.png) 0 -165px; }
.footer-image { background:url(../images/application.png) 0 -310px; }
.input-image { background:url(../images/application.png) 0 -521px; }
.title-image { background:url(../images/application.png) 0 -561px; }
